   body {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
            color: #333;
        }

        .header {
            background-color: #012158;
            color: white;
            padding: 18px 0;
          
        }

      

        .navbar {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding:  1px;
        }

        .logo img {
            height: 70px;
        }

        .nav-links {
            list-style: none;
            display: flex;
            gap: 20px;
            position: absolute;
            left: 71%;
        }

        .nav-links li {
            position: relative;
        }

        .nav-links a {
            color: #cfb53b;
            text-decoration: none;
            padding: 10px;
            
        }

        .nav-links a:hover {
            background-color: #f1f2f5;
            border-radius: 4px;
        }

      
        .services {
            padding: 40px 20px;
        }

        .services h2 {
            text-align: center;
            margin-bottom: 20px;
        }

        .service-item {
            background-color: #fff;
            padding: 20px;
            margin: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            text-align: center;
            transition: transform 0.5s, box-shadow 0.5s;
        }

        .service-item:hover {
            transform: translateY(-10px);
            box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
        }

        .service-item img {
            width: 10%;
            height: auto;
            transition: opacity 0.5s;
        }

        .service-item img:hover {
            opacity: 0.8;
        }

        #menu {
            position: absolute;
            left: 76%;
          }
          
          #menu ul {
            list-style: none;
            margin: 0;
            padding: 0;
            gap: 27px;
            display: flex;
          }
          
          #menu ul li {
            position: relative;
            display: inline-block;
          }
          
          #menu ul li a {
            text-decoration: none;
            color: #000;
            font-size: 29px;
            color: #cfb53b;
          }
          
          #menu ul li ul {
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            background-color: #012158;
            /* border: 1px solid #ccc; */
            padding: 10px;
            z-index: 1;
          }
          
          
          #menu ul li:hover ul {
            display: flex;
          }
          
          #menu ul li ul:hover {
            display: flex;
          }
          
          #menu ul li ul li {
            display: flex;
            margin-bottom: 10px;
          }
          
          #menu ul li ul li a {
            color: #cfb53b;
          }
          
          #menu ul li ul li a:hover {
            color: #666;
          }

        .carousel {
            position: relative;
            width: 100%;
            overflow: hidden;
            height: 400px;
        }

        .carousel-slide {
            display: none;
            width: 100%;
            height: 100%;
            transition: opacity 1s ease-in-out;
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
        }

        .carousel-slide img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

        .carousel-slide.active {
            display: block;
            opacity: 1;
        }

        .prev, .next {
            cursor: pointer;
            position: absolute;
            top: 50%;
            width: auto;
            padding: 16px;
            margin-top: -22px;
            color: white;
            font-weight: bold;
            font-size: 18px;
            transition: 0.6s ease;
            border-radius: 0 3px 3px 0;
            user-select: none;
            background-color: rgba(0, 0, 0, 0.5);
        }

        .next {
            right: 0;
            border-radius: 3px 0 0 3px;
        }

        .prev:hover, .next:hover {
            background-color: rgba(0,0,0,0.8);
        }

        .featured-cars, .promotions, .services {
            padding: 20px;
            background-color: white;
            margin: 20px 0;
        }

        .featured-cars h2, .promotions h2, .services h2 {
            text-align: center;
            margin-bottom: 20px;
        }

        .car-grid, .promotion-item, .service-item {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
        }

        .car-item, .promotion-info, .service-item {
            background-color: #f9f9f9;
            padding: 20px;
            margin: 10px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
            text-align: center;
            flex: 1;
        }

        .car-item img, .promotion-item img {
            width: 100%;
            height: auto;
        }

        .footer {
            background-color: rgb(2, 39, 78);
            color: white;
            padding: 20px;
            text-align: center;
        }

        .footer-content {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
        }

        .footer-content div {
            margin: 10px;
        }

        .footer-content h3 {
            margin-bottom: 10px;
        }

        .footer-content p, .footer-content a {
            color: white;
            text-decoration: none;
        }

        .footer-content a:hover {
            text-decoration: underline;
        }
